@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import 'highlight.js/styles/github.css';

.prose h1 {
  font-size: var(--text-3xl);
}

.prose h2 {
  font-weight: 500;
}

.threaded-block {
  background-color: rgb(254 243 199 / 0.5);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  cursor: pointer;
  transition: background-color 150ms ease;
}
.threaded-block:hover,
.threaded-block-active {
  background-color: rgb(252 211 77 / 0.4);
}
